.ui-view-extras .ui-special-tag
{
	font-style: italic;
}

.ui-view-extras fieldset table td
{
	margin: 3px 10px;
}

.ui-view-extras table td
{
	padding: 0px 7px;
}

.ui-view-extras thead td
{
	font-style: italic;
	padding-bottom: 7px;
}

.ui-view-extras #tabs-tags > div
{
	display: none;
}

#view-extras-current-config ol li
{
	float: left;
	list-style: none;
	margin-right: 10px;
}